*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    outline: none;
    text-decoration: none;
}

:root{
    --color-white: #fff;
    --color-black: #141414;
    --color-red: #DB3138;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-white);
    background: var(--color-black);
}

.btn{
    display: inline-block;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-white);
}

.btn--half{
    background: linear-gradient(90deg, 
    var(--color-red) 50%, transparent 50%);
    transition: background 1s linear;
}

.btn--half:hover{
    border: 1px solid #fff;
    transition: background 1s linear;
}

.btn--dark:hover{
    border: 1px solid #fff;
}

.container{
    max-width: 1286px;
    padding: 0 5px;
    margin: 0 auto;
}

/* HEADER */

.header{
    position: relative;
    padding-top: 40px;
    padding-bottom: 84px;
}

.img__header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__items{
    display: flex;
    justify-content: space-between;
}

.nav__item:not(:last-child){
    margin-right: 40px;
}

.nav__link{
    position: relative;
    color: var(--color-white);
}

.nav__link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--color-red);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.nav__link:hover::after{
    opacity: 1;
}

.menu-btn{
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: transparent;
    order: 1; /*меняет расположение флекс элементов,
    то есть бургер идет в конец*/
    border: none;
    cursor: pointer;
    position: relative;

    z-index: 2;
}

.menu-btn:hover .btn-line:nth-child(2){
    left: 20px;
}

/* рисивание бургера */
.btn-line{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--color-red);
    height: 2px;

    transition: .3s ease-in-out;
}

.btn-line:nth-child(1){
    top: 0;
}
.btn-line:nth-child(2){
    top: 15px;
    left: -20px;
}
.btn-line:nth-child(3){
    top: 0;
}
.btn-line:nth-child(4){
    top: 30px;
}

.menu-open .btn-line:nth-child(1){
    transform: scaleX(0);
}

.menu-open .btn-line:nth-child(2){
    transform: rotate(45deg);
}

.menu-open .btn-line:nth-child(3){
    transform: rotate(-45deg);
}

.menu-open .btn-line:nth-child(4){
    transform: scaleX(0);
}

.header__content{
    padding: 166px 0 100px 0;
    text-align: center;
}

.header__title{
    font-weight: 700;
    font-size: 150px;
    line-height: 125%;
    color: var(--color-red);

    margin-bottom: 40px;
}

.decor__link{
    font-size: 14px;
    color: var(--color-red);
}

.decor__link:not(:last-child){
    margin-right: 30px;
}

.header__descr{
    max-width: 437px;
    margin: 40px auto 60px auto;
}

.header__info {
    border: 1px solid #898989;
}

.info__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__item {
    padding: 50px 40px;
    text-align: center;
}

.info__content {
}

.info__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.info__descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-red);
}

/* WORLD */

.world {
    padding: 110px 0 150px 0;
}

.world__info {
    display: flex;
    justify-content: space-between;
}

.world__content {
}

.world__title {
    max-width: 630px;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 60px;
}

.decor {
}

.world__descr {
    max-width: 525px;
    margin-top: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}

.world__stats {
    display: flex;
}

.world__items {
    display: flex;
    flex-direction: column;
}

.world__items-top{
    margin-top: 40px;
}

.world__item {
    max-width: 318px;
    padding: 25px 21px 35px 20px;
    border: 1px solid #898989;
    text-align: center;
}

.world__item:hover .item__text{
    color: #DB3138;
}

.world__item:hover .item__number-link{
    color: var(--color-white)
}

.world__item:hover .item__number span{
    color: #fff;
}

.item__info {
}

.item__number {
    color: var(--color-red);
    font-size: 28px;
    margin-bottom: 22px;
}

.item__number-link{
    color: var(--color-red);
}


.item__number span{
    color: var(--color-red);
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.item__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-white);
}

/* CAR */

.cars {
    padding-bottom: 170px;
}

.cars__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cars__item {
    position: relative;
    max-width: 416px;
}

.img__cars-item {
}

.cars__content{
    position: absolute;
    bottom: -30px;
    text-align: center;    
    padding: 5px 60px;
    background: var(--color-red);

    opacity: 0;
    transition: 0.5s linear;
}

.cars__item:hover .cars__content{
    opacity: 1;
    transition: 0.5s linear;
}

/* WORK */

.work{
    padding-bottom: 180px;
}

.work__content {
    display: flex;
    justify-content: space-between;
}

.work__info {
}

.work__items {
}

.work__item {
    max-width: 600px;
}

.item__text {

}

.item__title {
    position: relative;
    padding-left: 86px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;

    margin-bottom: 43px;
}

.item__title-img-1::before{
    position: absolute;
    content: '';background-image: url("../img/work__item-2.png");
    left: 0;
    top: 5px;
    width: 56px;
    height: 70px;
}

.item__title-img-2::before{
    position: absolute;
    content: '';background-image: url("../img/work__item-3.png");
    left: 0;
    top: 5px;
    width: 70px;
    height: 45px;
}

.item__title-img-3::before{
    position: absolute;
    content: '';background-image: url("../img/work__item-4.png");
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
}

.item__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 128%;
}

.decor__work{
    margin: 40px 0 60px 0;
}

.work__image {
}

.img__work {
    margin-bottom: 50px;
}

.work__image-descr {
    max-width: 422px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}

/* SERVICES */

.services {
    padding-bottom: 180px;
}

.services__header {
    text-align: center;
}

.services__title {
}


.btn__services{
    margin-right: 60px;
}

.services__items{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    height: auto;
}

.services__item{
    max-width: 305px;
    border: 1px solid #898989;
    padding: 86px 40px 50px 40px;
}

.item__content{
    margin: 0 auto;
    text-align: center;
}

.services__item-img {
    margin: 0 auto;
    margin-bottom: 27px;
}

.services__item-title {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.services__item-descr {
    font-size: 16px;
    margin-bottom: 25px;
}

.btn__services-item {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}

/* OUR */

.our{
    padding-bottom: 120px;
}

.our__info{
    text-align: center;
}

.our__title{
    text-transform: uppercase;
}

.ours {
    display: flex;
}

.ours__col {
    flex: 1 1 0;
}

.ours__item {
    position: relative;
    background: rgb(175,59,59);
background: linear-gradient(90deg, rgba(175,59,59,1) 30%, rgba(255,90,90,1) 100%);
}

/* при наведении отображается градиент */
.ours__item:hover .ours__img{
    opacity: .2;
}

/* при наведении отображается текст */
.ours__item:hover .ours__info{
    opacity: 1;
}

.ours__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.ours__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .2s linear;
}

/* ANY */

.any{
    padding-bottom: 100px;
}

.any__content{
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
}

.input__header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.input{
    width: 306px;
    background: transparent;
    border: 0;
    border: 1px solid #898989;
    padding: 15px 0 15px 25px;
    color: var(--color-white);
}

.input__center{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.input__question{
    width: 526px;
    background: transparent;
    border: 0;
    border: 1px solid #898989;
    padding: 15px 0 15px 25px;
    color: var(--color-white);
}

.any__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__text-addres{
    position: relative;
    padding-left: 34px;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 600;
}

.info__text-addres::before{
    content: "";
    position: absolute;
    background: url("../img/location.png");
    left: 0;
    top: 5px;
    width: 26px;
    height: 21px;
}

.any__info-inf{
    display: flex;
    justify-content: space-between;
}

.info__text-number {
    position: relative;
    padding-left: 34px;
    font-size: 16px;
    font-weight: 600;
}

.info__text-number::before{
    content: "";
    position: absolute;
    background: url("../img/phone.png");
    left: 0;
    top: 5px;
    width: 24px;
    height: 24px;
}

.info__text-mail {
    position: relative;
    padding-left: 34px;
    font-size: 16px;
    font-weight: 600;
}

.info__text-mail::before{
    content: "";
    position: absolute;
    background: url("../img/mail.png");
    left: 0;
    top: 5px;
    width: 24px;
    height: 24px;
}

/* FOOTER */

.footer{
    padding: 30px 0;
    border-top: 1px solid #898989;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: 15px;
    font-weight: 500;
    color: #898989;
}